.container {
  max-width: 720px;
  margin: 20px auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  h1 {
    color: var(--white);
  }
}

.form {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 16px;

  .input {
    height: 40px;
    border: 1px solid var(--gray-100);
    padding: 0px 16px;
    border-radius: 8px;
    background-color: var(--dark-900);
    color: var(--white);
    font-size: 16px;
  }
}
