.headerContainer {
  // height: auto;
  margin-bottom: 30px;
}

.headerContent {
  max-width: 1280px;
  // height: 5rem;
  margin: 10px auto;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  nav{
    display: flex;
    align-items: center;
    
    .navList {
      list-style: none;
      display: flex;
      gap: 14px;
      position: relative;
    }
  }

  li {
    color: var(--white);
    text-decoration: none;
    transition: color .3s;

    &:hover,
    &:hover .sublist {
        color: var(--red-900);
        display: flex;
        cursor: pointer;
    }
  }

  button {
    border: 0;
    background: transparent;
    margin-left: 16px;
    transition: transform .5s;

    &:hover{
        transform: scale(1.2);
    }
  }
}

.sublist {
  display: none;
  z-index: 50;
  background-color: var(--dark-900);
  padding: 15px;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 100%;
  list-style: none;
  border: 1px solid var(--white);
  border-radius: 8px;

  &:hover {
    display: flex;
  }
}

.logoWrapper {
  max-width: 300px;
}

.logo{
  width: 100%;
  height: auto;
}

@media (min-width: 630px) {
  .headerContent {
    flex-direction: row;
  }
}