.container {
  max-width: 720px;
  margin: 20px auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: var(--white);
}

.detailsContent {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    header {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.3rem;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .itemBox {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
  }

  input,
  select,
  li {
    width: 100%;
    height: auto;
    min-height: 40px;
    border: 0px;
    background-color: var(--dark-900);
    border-radius: 8px;
    padding: 0px 16px;
    color: var(--white);
    border: 1px solid var(--gray-100);

    img {
      border-radius: 8px;
    }

    // li {
    //   height: auto !important;
    // }
  }

  li {
    border-width: 0px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.trash {
  padding: 5px;
  box-sizing: unset;
}

.trash:hover {
  cursor: pointer;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  input {
    margin-left: 1rem;
  }
}

.buttons {
  width: 100%;
  display: flex;
  gap: 0.5rem;

  .addItem {
    width: 30%;
    height: 40px;
    border-radius: 8px;
    border: 0;
    background-color: #5599ee;
    font-weight: bold;
    font-size: 16px;
    color: var(--white);
  }

  .sendOrder {
    width: 70%;
    height: 40px;
    border-radius: 8px;
    border: 0;
    background-color: var(--green-900);
    font-weight: bold;
    font-size: 16px;
    color: var(--white);
  }
}

.productList {
  width: 100%;

  .close {
    cursor: pointer;
  }
}

@media (min-width: 520px) {
  .itemBox {
    flex-direction: row !important;
    // justify-content: space-around;
    margin: 0 !important;
    text-align: inherit !important;
    gap: 0.5rem;
  }
}
